body{
    background-color: white;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    background-color: yellow !important;
    color: black !important;
    font-weight: bold !important;
}
.materias {
    background-color: rgb(255, 247, 129) !important;
    color: black !important;
    font-weight: bold !important;
}